.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles { /* adding particles react js. */
  position: fixed; 
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; /* can make this -1 when position is fixed. Makes everything go under the layer*/
}